{% extends 'base.html' %}

{% block content %}

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>About Us </h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt ligula id dui efficitur, ac pulvinar ipsum egestas. Praesent iaculis eu leo sit amet pharetra. Cras nunc tellus, dignissim et rutrum non, convallis vel nunc. Aliquam quis tortor id tortor lobortis dictum. Cras fermentum auctor pellentesque. Nullam sollicitudin a massa eu tincidunt. Sed congue, nisl id placerat semper, dolor tortor pharetra nisl, luctus lacinia nulla velit a leo. Nunc commodo ligula ipsum, vel faucibus erat pretium in. Vivamus sit amet urna consectetur, sollicitudin arcu a, feugiat quam. Nulla placerat laoreet tortor, id imperdiet massa feugiat vulputate. Aliquam nec odio ac eros dapibus rhoncus in in odio. Donec mollis dui at sem tempus, sed placerat eros dictum. Fusce convallis ultrices magna semper tempor. Nulla at turpis a orci faucibus mollis ut sodales nulla. Suspendisse potenti.
			</p>
		</div>
	</div>

{% endblock %}