{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {% endblock %}

<style type="text/css">
{% block style %}
	.navbar-static-top {
	  margin-bottom: 0px !important;
	}
	.jumbotron {
		background-color: #155A1E;
		color: #FFF;
	}

{% endblock %}
</style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
<div class="jumbotron">
	<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>MVP Site</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet, justo sit amet luctus sollicitudin, lacus dolor gravida metus, ut aliquam leo nisi non arcu.</p>
			<p>
			<a class="btn btn-lg btn-primary" href="" role="button">Subscribe &raquo;</a>
			</p>
		</div>
		<!-- <div class="col-sm-6" style="background-color: black;height: 315px;"> -->
		<div class="col-sm-6">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/yZ7GHhI67lA" frameborder="0" allowfullscreen></iframe>
		</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
	<h1>You are logged in!</h1>

	{% if queryset %}
		<h2>Welcome Staff!</h2>
		<table class="table">
		{% for instance in queryset %}
			<tr><td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
		{% endfor %}
		</table>
	{% endif %}
{% else %}

<div class="row">

	<div class="col-sm-3 pull-right">
		<p class='lead text-align-center'>{{ title }}</p>

		<!-- {{user}}
		{{ request.user }} -->

		<form method='post' action='' class="post-form">
			{% csrf_token %}
			<!-- {{ form.as_p }} -->
			{{ form|crispy }}
			<!-- <div class="form-group">
		    <label>Full Name</label>
		    <input type="text" class="form-control">
		     </div>
		      <div class="form-group">
		        <label>Email</label>
		        <input type="email" class="form-control">
		      </div> -->
			<input class="btn btn-primary btn-large bigbrand" type='submit' value="Sign Up!">
		</form>
	</div>
	<div class="col-sm-3">
		<p class='lead text-align-center'>Django &amp; Bootstrap</p>
		<img src="{% static 'img/marketing1.jpg' %}" class="img-responsive">
	</div>
	<div class="col-sm-3">
		<p class='lead text-align-center'>Created for Starters 
			<br>
			<span class="fa-stack fa-lg fa-5x">
				<i class="fa fa-comment-o fa-stack-2x"></i>
				<i style="color: yellow;" class="fa fa-bolt fa-1x"></i>
			</span>
			</p>
	</div>
		<div class="col-sm-3">
		<p class='lead text-align-center'>Nam convallis vitae
			<br>
			<br>
			<span class="fa-stack fa-lg fa-5x">
		  <!-- <i class="fa fa-circle-o-notch fa-stack-2x fa-spin"></i> -->
		  <i class="fa fa-circle-o-notch fa-stack-2x"></i>
		  <i class="fa fa-github fa-stack-1x"></i>
		</span>

	</div>
</div>
{% endif %}

{% endblock %}


